body {
  margin: 0;
  background: #000000;
}

::selection {
  color: white;
  background: #73ff00;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #525252;
}

::-webkit-scrollbar-thumb {
  background: #73fc00;
}

::-webkit-scrollbar-thumb:hover {
  background: #49a100;
}

button {
  user-select: none;
}

img {
  user-select: none;
}

body {
  width: 100% !important;
}
