$black: #252525

@mixin center()
    display: flex
    justify-content: center
    justify-items: center
    justify-self: center
    align-content: center
    align-items: center
    align-self: center

html
    background: $black

.center
    margin-top: 10%
    @include center()

.white
    color: white

.social
    outline: none
    border: none
    padding: 10px
    font-size: 24px
    border-radius: 5px
    width: 50px
    color: white

.steam
    background: #0C4076
    &:hover
        background: #082b52

.twitter
    background: #2291DA
    &:hover
        background: #1e70a7

.discord
    background: #7389DC
    &:hover
        background: #5467ad

.instagram
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d)
    &:hover
        background: linear-gradient(45deg, #3046b6, #3d37aa, #682a91, #922663, #99224a, #b91b1b)

.youtube
    background: #ff5959
    &:hover
        background: #a33131
    &:hover a
        color: #c9c9c9

.buttons
    display: flex
    flex-direction: row
    @include center()

.box-padding
    padding: 10px

.yourshot-main
    flex-direction: column
    @include center()

@media screen and ( max-width: 1000px )
    .yourshot-main-logo
        width: 800px

@media screen and ( max-width: 800px)
    .yourshot-main-logo
        width: 500px
